{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col offset-4">
            <div class="card" style="width: 25rem">
                <div class="card-body">
                    <h5 class="card-title">Celery Demo</h5>
                    <p class="card-text">To start and stop celery task click start and stop</p>
                    <ul>
                        <li>
                            Project 1: <p id="project_1"></p>
                            <button class="btn btn-sm btn-outline-success float-right" onclick="onStartClicked(1)">
                                Start
                            </button>
                            <button class="btn btn-sm btn-outline-danger" onclick="onStopClicked(1)">Stop</button>
                        </li>
                        <hr>
                        <li>
                            Project 2: <p id="project_2"></p>
                            <button class="btn btn-sm btn-outline-success float-right" onclick="onStartClicked(2)">
                                Start
                            </button>
                            <button class="btn btn-sm btn-outline-danger" onclick="onStopClicked(2)">Stop</button>
                        </li>
                        <hr>
                        <li>
                            Project 4: <p id="project_4"></p>
                            <button class="btn btn-sm btn-outline-success float-right" onclick="onStartClicked(4)">
                                Start
                            </button>
                            <button class="btn btn-sm btn-outline-danger" onclick="onStopClicked(4)">Stop</button>
                        </li>
                        <hr>
                        <li>
                            Project 9: <p id="project_9"></p>
                            <button class="btn btn-sm btn-outline-success float-right" onclick="onStartClicked(9)">
                                Start
                            </button>
                            <button class="btn btn-sm btn-outline-danger" onclick="onStopClicked(9)">Stop</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>

        init();

        function init() {
            let projects = [
                {projectId: 1, projectName: "project_1"},
                {projectId: 2, projectName: "project_2"},
                {projectId: 4, projectName: "project_4"},
                {projectId: 9, projectName: "project_9"},
            ];

            getAllStatus(projects)
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function getAllStatus(projects) {
            projects.forEach(prj => {

                fetch('/get-job-id/' + prj.projectId)
                    .then(resp => resp.json())
                    .then(data => {
                        if (data.jobId) {
                            getJobStatus(prj.projectId, data.jobId)
                        }
                    })
                    .catch(err => console.log(err.toString()))

            });
        }

        function getJobStatus(projectId, jobId) {
            sleep(1000).then(() => {
                fetch('/status/' + jobId)
                    .then(resp => resp.json())
                    .then(data => {
                        let projectHtml = $('#project_' + projectId);

                        projectHtml.html(`
                                State: ${data.state}, Result: ${data.result ? data.result.operation : data.result}
                        `);

                        if (data.state === "PROGRESS") {
                            getJobStatus(projectId, jobId)
                        }
                    })
                    .catch(err => console.log(err.toString()))
            });


        }

        function onStartClicked(projectId) {
            fetch('/start/' + projectId)
                .then(resp => resp.json())
                .then(data => {
                    if (data.jobId) {
                        getJobStatus(projectId, data.jobId)
                    }
                })
                .catch(err => console.log(err.toString()))
        }

        function onStopClicked(projectId) {
            fetch('/stop/' + projectId)
                .then(resp => resp.json())
                .then(data => {
                    let projectHtml = $('#project_' + projectId);
                    if (data.jobId) {
                        projectHtml.html(data.data);
                    }
                })
                .catch(err => console.log(err.toString()))
        }
    </script>
{% endblock script %}